body.rhne-web-theme {
  
  
    .accordion li {
      list-style: none;
    }

    .accordion li:hover {
      cursor: pointer;
    }

   .accordion  a {
      color: #000;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .accordion a.children-2 {
      text-decoration: none;
    }

    .accordion a.parent {
      text-decoration: none;
    }

    .accordion a:hover {
      color: #65c6c1;
    }

    .accordion a.high-size-a {
      text-decoration: none;
    }

    .accordion .accordion-item {
      border: unset;
    }

    .accordion .accordion-body{
      padding:0px;
    }

    .accordion ul.layouts{
      padding:0px;
      margin:0px;
    }

    .accordion a {
      color: #000;
      font-size: 1.4rem;
      line-height: 2rem;
      width: 100%;
      padding: 15px 23px 11px 0;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      display: block;
      font-weight: 500;
      font-family: Cooper Hewitt, Helvetica Neue, sans-serif;
    }

   .accordion .accordion-button:focus {
      box-shadow: unset;
    }

    .accordion button.accordion-button {
      color: #000;
      font-size: 1.4rem;
      line-height: 2rem;
      width: 100%;
      font-weight: 500;
      font-family: Cooper Hewitt, Helvetica Neue, sans-serif;
    }

    .accordion .selected {
      color: #65c6c1;
    }

    .accordion button.accordion-button:hover {
      color: #65c6c1;
    }

    .accordion .accordion-item {
      padding-left: 0px;
    }

    .accordion .parent {
      color: #000;
      font-size: 1.4rem;
      line-height: 2rem;
      width: 100%;
      padding: 15px 23px 11px 0;
      display: block;
      font-weight: 500;
    }

    .accordion .accordion-button:not(.collapsed) {
      background-color: unset !important;
    }
  
}
