body.rhne-web-theme{
/*pagination des collections*/
    .pagination{
        .page-item.active .page-link {
          background-color: rgba(0, 0, 0, 0.04);
          border-color: transparent;
           color: #272833;
          cursor: default;
          z-index: 3;
        }
        .page-item.active .page-link::before ,.page-link:hover::before, .page-link.hover::before {
           background-color: unset!important; 
           height: 0;
        }
        .page-link:disabled, .page-link.disabled {
          background-color: transparent;
          border-color: transparent;
           box-shadow: none;
           color: #6b6c7e;
          cursor: not-allowed;
           opacity: 0.5;
          pointer-events: auto;
          z-index: 0;
         }
        .page-link {
            font-weight: normal;
           align-items: center;
           background-color: transparent;
          border-radius: 4px;
          border-color: transparent;
           border-style: solid;
          border-width: 0.0625rem;
           color: #6b6c7e;
           display: inline-flex;
           height: 2rem;
          justify-content: center;
          line-height: 1;
        margin-left: 0;
         padding-bottom: 0;
         padding-left: 0.625rem;
          padding-right: 0.625rem;
         padding-top: 0;
           position: relative;
          transition: box-shadow 0.15s ease-in-out;
            letter-spacing: 0;
          }
        .page-link:focus {
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.25rem #80acff;
  outline: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.02);
  border-color: transparent;
  color: #272833;
}
   .page-link:disabled:active, .page-link.disabled:active {
  pointer-events: none;
}    
        .page-link:active {
  background-color: rgba(0, 0, 0, 0.04);
  border-color: transparent;
  color: #272833;
  cursor: default;
  z-index: 3;
}
.page-link:hover {
  background-color: rgba(0, 0, 0, 0.02);
  border-color: transparent;
  color: #272833;
  text-decoration: none;
  z-index: 2;
}


        
    }
    .hand{
        cursor:pointer;
    }

    .navbar .container-fluid {
        align-items: inherit;
        background-color: inherit;
        display: inherit;
        flex-wrap: inherit;
        justify-content: center;
    }

    .mobile-menu {
        display: none;
    }


    /* banner management : top fixed */
    #banner {
        z-index: 1000;
        position: fixed;
        width: 100%;
        background-color: #009b97;
        height: 150px;

        .navbar {
            z-index: 1000;
            background-color: #009b97!important;
            border:none!important;
        }

    }
    .nav-logo{
        position:relative;
        flex: 1;
        min-width: 235px;
    }

    .showWeb{
        .logo  {
            position: absolute;
            top: 30px;
            left: 35px;
            z-index: 1;
        }
        .logo img{
            height:90px;
        }
    }
    .nav-menu.col-sm-10{flex:1!important;}
    #content {
    //margin-top: 30px;
    }


    /* Main menu */
    .main-menu {
        width: 100%;
        background-color: #009b97;
        position: relative;
        margin: auto;
        vertical-align: baseline;
        display: block;
        padding-top:10px;
    }

    .main-menu li {
        list-style: none;
    }

    .main-menu a {
        font-family: Arial;
        font-size: 15px;
        font-weight: 600;
        color: var(--body-color, #272833);

    }

    /* Main menu Level 1 */
    .level-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-right:15px;
    // width:100%;
    }

    .level-1-item {
    //padding-left: 20px;
    //padding-right: 20px;
    //height: 126px;
        display:table-cell;
        vertical-align: middle;
    //margin-right:40px;
    }

    .level-1-item a {
        position: relative;
        color:#fff;//color: #009a96;
        font-family: inherit;
        font-weight: lighter;
        font-size: 21px;
        text-decoration: none;
        font-weight: bold;
        display: block;
        display: inline-block;
        padding: 10px 20px 10px 20px;
        font-family: proxima-nova-bold;
        border-radius: 30px;
    }

    .level-1-item a.firstline:hover {
        text-decoration: none;
        color: #009b97;
        background-color: #fff;
        border-radius: 30px;
    }

    .level-1-item a.firstline-active {
        text-decoration: none;
        color: #009b97;
        background-color: #fff;
        border-radius: 30px;
    }

    .level-1-item:not(:last-child) {
        &::after {
            content: "";
            position: relative;
            text-align: center;
            margin: 0 auto;
            display: none;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid rgb(1, 157, 153);
            top: 25px;
        }
    }
    .level-1-item.active-menu {
        a.level1 {
            color: #009b97;
            background-color: #fff;
            border-radius: 30px;

        }

        .subMenu {
            display: block;
        }
    }


    /* subMenu */
    .subMenu
    {
        display: none;
    }
    .background-subMenu{
        display:none;
        position: fixed;
        /* top: 0; */
        left: 0;
        width: 100%;
        height:100%;
        opacity: 0.5;
        z-index: -1;
        background-color: #000;
        padding-top: 10px;
    }
    .active-menu .background-subMenu{
        display:block;
    }

    .subMenu {
        min-height: 300px;
        width: 100%;

        margin: 0px auto;
        height: auto;
        position: fixed;
        z-index: 2;
        padding: 10px 25px 10px 25px;
    // margin-top:20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #009b97;
        text-align: center;

        > .row {
            min-height: 300px;
            max-width: 1600px;
            width: 100%;
            text-align: left;
            display: flex;
            justify-content: left;
            align-items: flex-start;
            margin-left: 50%;
            transform: translateX(-50%);


            .col {
                height: auto;
                position: relative;
                flex-shrink: 1;
                vertical-align: top;
                padding: 0px;
                background-color: #009b97;


                ul {
                    padding: 0px;
                //margin-left: 30px;
                    height: 100%;
                    background-color: #009b97;
                    li {
                        background-color: #009b97;
                        a.anim {
                            display: inline-block;
                            color: #fff;
                            font-weight: bold;
                            text-decoration: none;
                            position: relative;
                            font-size: 21px!important;
                            overflow: hidden;
                            padding:0 10px 0 10px;
                            margin-left:-10px;


                        }
                        .animate__underline {
                            display:inline;
                            width: calc(100%);
                            background-image: linear-gradient(transparent calc(100% - 1px),#fff 2px);
                            background-repeat: no-repeat;
                            background-size: 0 100%;
                            -webkit-transition: all 1000ms cubic-bezier(0.215,0.61,0.355,1) 0ms;
                            transition: all 1000ms cubic-bezier(0.215,0.61,0.355,1) 0ms
                        }



                        .subMenu2 {


                            z-index: 1000;
                            width: 100%;

                            height: 100%;

                            li a {
                                display: inline-block;
                                color: #fff;
                                font-weight: normal;
                                text-decoration: none;
                                position: relative;
                                font-size: 21px!important;
                                overflow: hidden;
                                padding:0 10px 0 10px;
                                font-family: proxima-nova;

                            }
                            li:hover .animate__underline{
                                background-size: 100% 100%
                            }


                        }
                    }
                    li:hover .anim .animate__underline {
                        background-size: 100% 100%
                    }
                }
            }
        }

        .level-3-items{
            margin-left:50px;
        }


        .level-2-items {
            display: flex;
            flex-direction: column;
        }

        .level-2-item {
            background-color: #ffffff;
            margin-top: 40px;

        }

        .item-main{
            position:relative;
            text-transform: uppercase;
            font-weight: bold;
            text-align: left;
            margin-bottom:5px;
            font-family: proxima-nova-bold;
        }
        .item-main a{
            padding-top:0;
            display:inline-block;
        }
        .alone{
            margin-top: 10px!important;
        }
        .parent:before{
            content: "";
            position: absolute;
            bottom: -2px; /* Ajustez la position de la bordure inférieure */
            left: 0;
            width: 40px; /* Longueur de soulignement */
            height: 2px; /* Épaisseur de la bordure */
            background-color: white; /* Couleur de la bordure */

        }

        .level-2-item:hover {
        //background-color: #E4F8F7;

            .subMenu2 {
                display: block;
                text-align: left;
            }
        }

        .subMenu-col-1 , .subMenu-col-2, .subMenu-col-3{
            min-height: 200px;
            background-size: cover;
            font-size: 21px; /* Larger font size for the title */
            color: white;

            div {
                width: 100%;
            }
        }

    }

    /* Top Menu */

    .top-menu-div {
        display: flex;
        align-items: center;
        justify-content: flex-end; /* Align the menu to the right */
    }

    .top-menu {
        margin-top:10px;
    }
    /*classes pour boutons top menu*/

    .tm-urgence:hover {
        background: #a61924 !important;
    }
    .tm-rdv:hover{
        background: #cdfffe;
    }
    .topmenuitem {
        padding: 10px 15px 10px 15px;
        font-family: inherit;
        text-decoration: none;
        color: #009b97; /* Change link color to white */
        background-color: #99d9d9;
        border-radius:30px;
        margin-right:15px;

        a {
            color: #009b97;
            text-decoration: none;
            text-transform: uppercase;
            font-size:18px;
            text-transform: uppercase;
            font-family: proxima-nova;
        }

    }

    .topmenuitem:first-child {
        color:white;

        /* Adjust padding for the icon */
        background-color: #EB313F;

        a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size:18px;
        }
    }
    .topmenuitem:last-child {


        background-color: #fff;
        border-radius:50px;
        padding:9px 14px 9px 14px;


        .bi-globe::before {
            color:black;
        }
    }



    .topmenuitem:first-child i {
        font-size: 18px; /* Adjust the icon size */
        color: rgb(53, 53, 53);
        padding: 0 10px;
    }

    .mobile-menu-buttons {
        display:none;
    }
    .showMobile {
        display: none !important;
    }
    .showWeb {
        display: flex !important;
        margin-tp:10px;
    }

    @media (max-width: 767px) {
        .mobile-menu-buttons {
            height: 60px !important;
        }
        .topmenuitem {
            a {
                font-size: 8pt !important;
            }
        }
        .top-menu-mobile a.tm-rdv {
            font-size: 14px;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .top-menu-mobile a.tm-rdv {
            font-size: 16px;
        }
        .mobile-menu-buttons {
            height: 90px !important;
        }
    }


    @media (max-width: 991px) {
        .showMobile {
            display: block !important;
        }
        .showWeb {
            display: none !important;
        }
        #content {
            margin-top: 170px;
        }
        .top-menu-div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .topmenuitem:first-child i {
            padding: 0 0px;
        }
        .topmenuitem:first-child {
            max-width: 20px;
        }
        .topmenuitem {
        //max-width: 66.66%;
        //width: -webkit-fill-available;
            min-width: fit-content;
            width: 100%;
        }
        #mobile-accordion {
            .accordion-item  .accordion-button{
                background: #009a96;
                color: #fff;
                border-bottom: 1px solid #caccce;
            }
           /* .accordion-header .accordion-button{
                font-weight: bold;
                border-radius: 0px;
            }*/
            .level1child.accordion-item  .accordion-button{
                background: #fff;
                color: #009a96;
                text-transform: uppercase;
                font-weight: normal;
            }
            /*.level2child a{
                background: #fff;
                color: #009a96;
            }*/
            .level2child .accordion-item  .accordion-button{

            }
            .accordion-header .accordion-button:not(.collapsed) {
                /*background-color: #fff !important;
                  color: #009a96 !important;*/
            }
        }
        #content {
            margin-top: 0px;
            padding-bottom: 100px;
        }

        .top-menu-div {
        //display: block;
            align-items: center;
        //justify-content: flex-end; /* Align the menu to the right */
        }
        .mobile-menu {
            position: fixed;
            width: 100%;
            z-index:100;
            overflow:scroll;
            height: 83vh;
        }
        .topmenuitem {
            padding: 10px 17px;
        //border-right: 1px solid #ccc;
            font-family: inherit;
            text-decoration: none;
            color: white; /* Change link color to white */
            background-color:#EB313F;
            text-align: center;
            display: inline-block;

            a {
                color:white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 10pt;
            }

        }


        .nav-menu, .main-menu{
            display:none;

        }
        .mobile-menu-buttons {
            display:inline-block;
            float:right;
            color:#009a96;
            font-size: 30px;
            padding: 0 20px;
            width: 70px !important;
            text-decoration: none;
            border-left:none !important;
        }
        .mobile-menu-button, .searchtrigger {
            display: block;
            position: relative;
            height: 100%;
            min-height: 100%;
            padding: 25px 0;
        }
        .searchtrigger {
            background: linear-gradient(to right, #009b97, #03c4c2);
            color: white;
        }
        .mobile-menu-button {
            border-left:none;
        }
        a{
            /*color:#fff;
            font-size: 40px;*/
            &:hover{
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 992px) {
    .showMobile {
        display: none !important;
    }
    .showWeb {
        display: flex !important;
        margin-tp:10px;
    }
    .mobile-menu{display:none;}
}
header {
    .field-wrapper {
        position: absolute;
        right: 4px;
        top: 2px;


        a {
            color: #fff;
        }
    }

    .field-wrapper,
    .form-group {
        margin-bottom: 0;
    }

    .portlet {
        margin-bottom: 0;

        &:hover {
            z-index: 1034;
        }
    }

    .search-input {
        font-size: 0.88rem;
        padding: 0.28rem 2rem 0.28rem 1rem;
    }

    .text-default {
        color: #6b6c7e;
        font-weight: 600;
    }

    .user-personal-bar {
        .fieldset {
            position: relative;
        }

        .user-avatar-link .panel-notifications-count {
            right: calc(100% - 0.75rem);
            top: -0.35rem;
        }
    }
}


html:not(#__):not(#___) body.rhne-web-theme:not(.has-edit-mode-menu) {
    .portlet-navigation {
        .portlet,
        .portlet:hover {
            > .cadmin.portlet-topper {
                display: none;
            }
            > .portlet-content-editable{
                border-color:transparent;

            }
        }
    }
}

html:not(#__):not(#___) body.rhne-web-theme .cadmin.page-editor__topper__bar{
    z-index:2000;
}

body.has-edit-mode-menu.rhne-web-theme{
    #banner{
        position:relative;
    }
}

body.rhne-web-theme.search-active {
    #content {
        margin-top: 0px;
    }
}

.portlet-login {
    margin-top: 200px;
}

img.ml-4{
    margin-left:0;
}


@import url("https://p.typekit.net/p.css?s=1&k=xup1idm&ht=tk&f=139.140.175.176&a=87625795&app=typekit&e=css");

@font-face {
    font-family:"proxima-nova-bold";
    src:url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
    font-family:"proxima-nova-bold-italic";
    src:url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
    font-family:"proxima-nova";
    src:url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
    font-family:"proxima-nova";
    src:url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

.tk-proxima-nova { font-family: "proxima-nova",sans-serif; }

html:not(#__):not(#___) .cadmin.lfr-product-menu-panel.sidenav-menu-slider {
    z-index: 10000!important;
}

/* mobile */
.top-menu-mobile a{
    padding-top: 10px;
}
.top-menu-mobile{
    height: 40px;
}
.top-menu-mobile a.tm-urgence {
    color: white;
    background-color: #EB313F;
    font-size: 16px;
}
.top-menu-mobile a.tm-rdv {
    color: #009b97;
    background-color: #99d9d9;
}

/*nouveau menu mobile*/
.showMobile .loupe{
    display:none
}
.burger.open{
    .mobile-menu-button{
        margin: auto;
        width: 40px;
    }
    .bi-x{
        background: #99d9d9;
        border-radius: 100%;
        display: block;
        width: 40px;
        height: 40px;
        margin-top: 10px;
    }
    .bi-x::before {
        position: absolute;
        top: 0;
        left: 0;
    }
}
.mobile-menu{
    background: #009a96;
    height:100%;
    .accordion{
        margin-top:80px!important;
    }
  .accordion-item{
    .nav-level-0{
         width:60%;
         margin:auto;
         border-bottom: 1px solid white;
    }
    .open-level0{
        width: 100%;
        padding-left: 20px;
        border-bottom:none;
        .accordion-button:not(.collapsed)::before{
            margin-left:unset;
        }
       
    }
    .nav-level-1.accordion-collapse{
        width: 100%;
        padding-left: 20px;
        border-bottom:none;    
        }
   .last{border-bottom: 0!important;}
    background: #009a96;
      
    .accordion-header{
          background: #009a96!important;
          width:100%;
      }
      .accordion-header .accordion-button:not(.collapsed) {
          color:white!important;
          padding-left:25px!important;
      }
      .accordion-header .accordion-button{
        width: fit-content;
        border-bottom: none!important;
        font-weight:  bold!important;
        width:100%;
        padding-left:0!important;
     }
.accordion-header .accordion-link{
        padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
        border-bottom: none!important;
        font-weight:  bold!important;
        width:100%;
        padding-left:0!important;
        font-family: Cooper Hewitt, Helvetica Neue, sans-serif;
        padding-bottom: 20px;
        line-height: 2rem;
        font-size: 19px !important;
    
}
      
  .accordion-header .accordion-link a{
        color:white;
        text-decoration:none;
    }
  
  .accordion-button:not(.collapsed) {
     box-shadow: none;
  }
}
.level1child.accordion-item .accordion-link {
    text-transform:uppercase;
}
.level1child.accordion-item .accordion-button{
    background: #009a96!important;
    color:white!important;
} 
.level1child.accordion-item .accordion-link{
    background: #009a96!important;
    color:white!important;
} 
    
 
 .level1child .accordion-button::before {
       background-image: none;
       
  }
 
    
.accordion-item .accordion-button::after {
      position: absolute;
      right: 0px;
      flex-shrink: 0;
      width: var(--bs-accordion-btn-icon-width);
      height: var(--bs-accordion-btn-icon-width);
      content: "";
      background-image: var(--bs-accordion-btn-icon);
      background-repeat: no-repeat;
      background-size: var(--bs-accordion-btn-icon-width);
      transition: var(--bs-accordion-btn-icon-transition);
      transform: rotate(-90deg);
      filter: invert(100%) brightness(10) drop-shadow(0px 0px 0px white);
  }
.accordion-item .accordion-button:not(.collapsed)::after {
      background-image: none;
  }
.accordion-item .accordion-button:not(.collapsed)::before {
    position: absolute;
    left: 0;
    margin-right: 10px;
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
    filter: invert(100%) brightness(10) drop-shadow(0px 0px 0px white);
    transform: rotate(90deg);
   }
 .level1child.accordion-item .accordion-button::before, .level1child.accordion-item .accordion-link::before{
     position: absolute;
     bottom: 0;
     display: block!important;
      content:"";
      width:25px;
      border-bottom:1px solid white;
      height: var(--bs-accordion-btn-icon-width);
 }

    
.level2child.accordion-item li.selected {
    color: white;
    background-color: #009a96;
    margin-bottom:20px;
    list-style: none;
   
 }
 .level2child{
     .selected a{
        color : #fff!important;
        background: #009a96!important;
      }
  }
}
