.rhnered{
background: pink;
}

/* Link */
a,  a:active{
	color : #009a96;
	text-decoration: underline;
}
a:hover, .btn-link:hover{
	color : #635c5c;
}
.btn-link{
	color : #009a96;
	text-decoration: none;
}
.rhne-web-theme a.selected {
	color: #65c6c1;
}

/* header */
.rhne-web-theme #banner{
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}



/* Background for conteneur grey*/
.rhne-web-theme .rhneColorGrey{
	background: rgb(241, 242, 245) !important;
	color: #fff;	
}

/* Footer*/
.rhne-web-theme #footer {
	 color: #fff;
	 margin-top: 1rem;
}
.rhne-web-theme #footer > .container {
	 padding-bottom: 3rem;
	 padding-top: 3rem;
}
/*grilles*/
.grille-same-height{
  display:flex;

}
.grille-same-height .row{
  flex-grow: 1;
}
.grille-same-height > div > .col {
  height: 100%;
  display: flex;
}
.grille-many-rows > div > .col {
  height: unset!important;
}
.grille-same-height  .row  .col .carte-100{
  width:100%;
}
.grille-same-height > div > .col .carte-100 > div{
  height: 100%;
}
.grille-same-height .myCarteIcone , .grille-same-height .myCarte, .grille-same-height .cardContact {
  height: 100%;
}

/*Carte */
.rhne-web-theme .imgCadreRond img {
	border-radius: 50%;
	object-position: top;
	object-fit: cover;
	aspect-ratio: 1;
}
.rhne-web-theme .imgCadre img {
	border-radius: 10px;
}
/* button go to bottom of the card*/
.buttonBottom{
	position: absolute;
    	bottom: 20px;
    	left: 0;
    	right: 0;
   	margin: auto;
}
/*mobile*/
/*@media (min-width: 768px) and (max-width: 992px) {
.grille-same-height > div > .col-md-6 {
  height: unset!important;
  display: flex;
}*/
@media (max-width: 992px){
.grille-same-height > div > .col {
  height: unset!important;
  display: flex;
}	
}
